/******** Fuentes tipograficas **********/
$primary-font: 'Tenor Sans', sans-serif;
$secondary-font: 'Jost', sans-serif;


/******** Paleta de color **********/
$burgerQueen-background: #202020;
$burgerQueen-color1: #C59566;
$burgerQueen-color2: #983F30;
$burgerQueen-color3: #ffffff;